@charset "utf-8";

@each $name, $size in $paddingSizeMap {
  .padding-#{$name} {
    padding: $size;
  }
  .padding-top-#{$name} {
    padding-top: $size;
  }
  .padding-bottom-#{$name} {
    padding-bottom: $size;
  }
  .padding-left-#{$name} {
    padding-left: $size;
  }
  .padding-right-#{$name} {
    padding-right: $size;
  }
  .padding-width-#{$name} {
    padding-right: $size;
    padding-left: $size;
  }
  .padding-height-#{$name} {
    padding-top: $size;
    padding-bottom: $size;
  }
}
