<div class="wapper margin-bottom-md padding-bottom-md padding-width-md background-color-white">
  <h2 class="title padding-left-sm">退款详情</h2>
  <div class="clear-float h0 padding-top-md">
    <span class="h4 font-color-global-lighter">
      退款原因：{{orderDetail.status.content.title}}
    </span>
  </div>
  <div class="clear-float h0 padding-top-md">
    <span class="h4 font-color-global-lighter">
      退款金额：{{orderDetail.status.statusDescMsg}}
    </span>
  </div>
  <div class="clear-float h0 padding-top-md">
    <span class="h4 font-color-global-lighter">
      退款说明：{{orderDetail.status.content.detail}}
    </span>
  </div>
</div>
