<div class="background-color-white footer-tips">
  <div class="wapper h0">
    <div class="align-inline-3 padding-height-md">
      <div
        class="margin-width-auto margin-bottom-sm text-center font-color-dark-gray border-line border-color-dark-gray radius-full">
        &#xe6ab;
      </div>
      <h2 class="text-center margin-height-sm">专业</h2>
      <p class="text-center h5 font-color-global-lightest">标准化培训 严格甄选 专业设备</p>
    </div>
    <div class="align-inline-3 padding-height-md">
      <div
        class="margin-width-auto margin-bottom-sm text-center font-color-dark-gray border-line border-color-dark-gray radius-full">
        &#xe6e4;
      </div>
      <h2 class="text-center margin-height-sm">保障</h2>
      <p class="text-center h5 font-color-global-lightest">专属客服跟进 有问题先赔款 服务到您满意</p>
    </div>
    <div class="align-inline-3 padding-height-md">
      <div
        class="margin-width-auto margin-bottom-sm text-center font-color-dark-gray border-line border-color-dark-gray radius-full">
        &#xe6ac;
      </div>
      <h2 class="text-center margin-height-sm">便捷</h2>
      <p class="text-center h5 font-color-global-lightest">上千位服务人员 全城高密度覆盖 上门准时</p>
    </div>
  </div>
</div>
<footer class="padding-height-sm">
  <p class="text-center h5 font-color-global-lightest">
    优护家®属于北京优护创智健康科技有限责任公司旗下品牌 邮箱：<a class="font-color-global-lightest" style="text-decoration: underline;"
                                     href="mailto:hezuo@youhujia.com">hezuo@youhujia.com</a><br>
    © 2015-2016 Youhujia.com 版权所有<br>
    京ICP备15054445-1号<br>
  </p>
</footer>
