<div class="tool-item text-center pointer" [routerLink]="['/tool-detail',toolList.id]">
  <div class="projectIcon font-color-green" [innerHtml]="toolList.icon"></div>
  <h4 class="font-color-global-lighter margin-top-sm">{{toolList.title}}</h4>
  <!--<div class="items background-color-black-a padding-height-xs radius-sm">-->
    <!--<h3 class="font-color-green">{{toolList.title}}</h3>-->
    <!--<h5 class="font-color-gray font-hover-color-green pointer" *ngFor="let toolItem of toolList.items"-->
        <!--[routerLink]="['/tool-detail',toolItem.id]">-->
      <!--{{toolItem.title}}-->
    <!--</h5>-->
  <!--</div>-->
</div>
