<div class="login-header background-color-white border-line-bottom border-color-gray">
  <img class="margin-left-md" src="../../../assets/img/hf.png"/>
</div>
<div class="wapper padding-top-md">
  <img src="./assets/img/sl.png">
  <h1>点击选择您所在的行政区</h1>
  <img src="./assets/img/sl.png">
  <iframe src="/street-picker/region.html" border="0" id="region"></iframe>
</div>
<div class="login-footer clear-float border-line-top border-color-gray background-color-white">
  <p class="h5 font-color-global-lightest float-left margin-left-md padding-top-sm">
    优护家®属于北京优护创智健康科技有限责任公司旗下品牌 邮箱：<a class="font-color-global-lightest" style="text-decoration: underline;"
                                     href="mailto:hezuo@youhujia.com">hezuo@youhujia.com</a><br>
    © 2015-2017 Youhujia.com 版权所有<br>
    京ICP备15054445-1号<br>
  </p>
  <img class="float-right margin-right-md" src="../../../assets/img/yhj.png"/>
</div>
