@import "../../../css/forNG2";

.wapper {
  position: fixed;
  top:remSize(90);
  left:0;
  right:0;
  bottom:remSize(90);
  overflow: scroll;
  font-size: 0;
  text-align: center;
  img {
    margin: 0 auto;
    width: remSize(285);
  }
  h1 {
    line-height: remSize(50);
    font-size: remSize(25);
    text-align: center;
  }
  iframe {
    width: 16rem;
    height: 12.6rem;
    border: 0;
  }
}
.login-header{
  height:remSize(90);
  img{
    height:remSize(50);
    margin-top: remSize(-35);
  }
  width: 100%;
}
.login-footer{
  height:remSize(90);
  position: fixed;
  bottom:0;
  left:0;
  width: 100%;
  p{
    line-height:remSize(20);
  }
  img{
    margin-top: remSize(20);
  }
}
