<div class="wapper background-color-white padding-bottom-md padding-width-md margin-height-md text-center">
  <div [innerHtml]="content"></div>
  <!--<img src="assets/img/article/001.jpg" class="margin-height-md">-->
  <!--<img src="assets/img/article/006.png" class="margin-re-left-md">-->
  <!--<ul class="font-color-green h2">-->
    <!--<li class="margin-height-sm">-->
      <!--<h2 class="font-color-green">请注意观察伤口</h2>-->
      <!--<img src="assets/img/article/002.jpg" class="margin-height-sm">-->
      <!--<p class="text-center margin-re-left-md h4 padding-bottom-sm border-line-bottom border-color-global-base">-->
        <!--保持伤口周围的清洁干燥，如伤口出现红肿热痛或体位升高超过38.5（排除感冒因素外）请您及时来院就诊-->
      <!--</p>-->
    <!--</li>-->
    <!--<li class="margin-height-sm">-->
      <!--<h2 class="font-color-green">请注意卧床休息</h2>-->
      <!--<img src="assets/img/article/003.jpg" class="margin-height-sm">-->
      <!--<p class="text-center margin-re-left-md h4 padding-bottom-sm border-line-bottom border-color-global-base">-->
        <!--以卧床休息为主，卧硬板床为宜，睡觉时选择合适的枕头，保证充足的睡眠时间。-->
      <!--</p>-->
    <!--</li>-->
    <!--<li class="margin-height-sm">-->
      <!--<h2 class="font-color-green">请注意饮食调理</h2>-->
      <!--<img src="assets/img/article/004.jpg" class="margin-height-sm">-->
      <!--<p class="text-center margin-re-left-md h4 padding-bottom-sm border-line-bottom border-color-global-base">-->
        <!--宜清淡，慎食剪，炸食品，多吃高蛋白，低脂，高热量，高纤维，高维生素食物，以保证营养-->
      <!--</p>-->
    <!--</li>-->
    <!--<li class="margin-height-sm">-->
      <!--<h2 class="font-color-green">结核患者饮食须注意</h2>-->
      <!--<img src="assets/img/article/005.jpg" class="margin-height-sm">-->
      <!--<p class="text-center margin-re-left-md h4 padding-bottom-sm border-line-bottom border-color-global-base">-->
        <!--a.抗结核治疗期间禁止饮酒，以免诱发或加重药物肝损害发生。 <br>-->
        <!--b.尽量少进食刺激性大的食物，饮食应以清淡为止，要营养丰富，富含多种维生素和适量的蛋白质。 <br>-->
        <!--c.在病着炎症进展阶段少进食容易促发或加重炎症反应的食物 <br>-->
      <!--</p>-->
    <!--</li>-->
    <!--<li class="margin-height-sm text-left">-->
      <!--<h2 class="font-color-green">结语</h2>-->
      <!--<p class="h4 padding-bottom-sm border-line-bottom border-color-global-base margin-top-sm">-->
        <!--如功能锻炼后感到腰部或双下肢肌肉酸痛，请您停练几天或适当减量，症状好转后再从头开始，在逐渐增加锻炼强度。-->
      <!--</p>-->
    <!--</li>-->
  <!--</ul>-->
  <!--<h2 class="font-color-green margin-height-sm text-left">精彩推荐的其它康复计划</h2>-->
  <!--<ul class="list-style-type-disc padding-left-md h4 font-color-global-lighter text-left">-->
    <!--<li class="font-hover-color-green margin-height-xs pointer" [routerLink]="['/article-detail',9666]">颈椎病的预防保健</li>-->
    <!--<li class="font-hover-color-green margin-height-xs pointer" [routerLink]="['/article-detail',9654]">糖尿病饮食原则</li>-->
    <!--<li class="font-hover-color-green margin-height-xs pointer" [routerLink]="['/article-detail',9656]">规律用药好处多</li>-->
    <!--<li class="font-hover-color-green margin-height-xs pointer" [routerLink]="['/article-detail',9660]">高血压用药和监测</li>-->
  <!--</ul>-->
</div>
