<div class="wapper margin-height-md padding-md background-color-white">
  <header class="border-line-bottom border-color-global-base margin-bottom-sm">
    <ul class="h4 clear-float text-center" style="margin-bottom: -1px">
      <li class="float-left {{selIndex==0?'border-color-green font-color-green':''}}"
          (click)="changeFilterStatus([''],0)">
        <div class="margin-height-xs">全部订单</div>
      </li>
      <li class="float-left {{selIndex==1?'border-color-green font-color-green':''}}"
          (click)="changeFilterStatus(['待接单','服务中','待评价','支付中'],1)">
        <div class="margin-height-xs border-line-left border-color-global-base">进行中</div>
      </li>
      <li class="float-left {{selIndex==2?'border-color-green font-color-green':''}}"
          (click)="changeFilterStatus(['退款中','退款申请中'],2)">
        <div class="margin-height-xs border-line-left border-color-global-base">退款中</div>
      </li>
      <li class="float-left {{selIndex==3?'border-color-green font-color-green':''}}"
          (click)="changeFilterStatus(['已完成','已取消','已关闭'],3)">
        <div class="margin-height-xs border-line-left border-color-global-base">已完成</div>
      </li>
    </ul>
  </header>
  <yh-order-list [orderList]="orderListFilted" [type]="'list'"></yh-order-list>
  <div class="text-center margin-top-xs" *ngIf="orderListFilted.length==0">
    <img src="./assets/img/order-empty.png" id="order-empty-img">
    <h4 class="margin-top-xs">暂无订单</h4>
  </div>
</div>
